<template name="loglist">
    <div class="loglist-container">
        {{#each this}}
            <ul class="loglist">
                <li class="log-entry">
                    <span class="date">{{toUserDate this.createdAt}}</span>
                    <span class="user">{{getUserNameFromId this.user}}</span>
                    <span class="message">{{this.getMessage}}</span>
                </li>
            </ul>
        {{/each}}
    </div>
</template>
