/**
 * (C) 2015 Richard Vogel
 * E-Mail: webdes87@gmail.com
 *
 * Created 2015-11-23
 * This file belongs to the backswing meteor package
 *
 * Some system-wide styles
 **/

body {
  position: relative;
}

.text-error {
  color: $color_error;
}

.text-warning {
  color: $color_warning;
}

.text-success {
  color: $color_success;
}
header{
  &.main-nav {
    >.container{
      padding-right: 0;
      padding-left: 0;
    }
    .navbar {
      margin-bottom: 0 !important;
      padding-left: 0;
    }
  }
}
.footer-container{
  padding-top: 1em;
  margin-top: 2em;
  border-top: 1px solid rgb(200,200,200);
}

.page {
  .background-content{
    background-image: url('/img/Restaurant_small.png');
    background-size: cover;
    font-size: 1.5em;
    color: white;

    padding-bottom: 2em;
    margin-bottom: 2em;

    overflow: hidden;

    .animated {
      @include vendor-prefix(animation-duration, 2.0s !important);
      @include vendor-prefix(animation-delay, 0s !important);
      @include vendor-prefix(animation-iteration-count, 1 !important);
      @include vendor-prefix(animation-timing, ease-out !important);
    }

    text-shadow: 2px 3px 3px rgb(0,0,0);

    h1 {
      font-size: 2.5em;
      margin-bottom: 1.0em;
    }

  }

  .content-holder {
  }
}


.to-top-container {
  pointer-events: none;
  position: fixed;
  right: 2em;
  bottom: 2em;
  text-shadow: 1px 1px 1px black;
  opacity: 0;
  transition: opacity linear 1.5s;
  z-index: 2;
  
  &.visible {
    pointer-events: auto;
    opacity: 1.0;
    transition: opacity linear 1.5s;
  }

  .fa {
    font-size: 3em;
  }
}

.loglist-container {
  .loglist {
    list-style: none;
    margin: 0;
    padding: 0;

    .log-entry {
      margin: 0;
      padding: 0;
      list-style: none;

      border: 2px solid #EEEEEE;

      &:nth-of-type(2n) {
        background-color: #8c8c8c;
      }
      > span {
        display: block;

        &.user {
          background-color: #008cba;
          color: white;

        }

        &.date {
          background-color: #008cba;
          color: white;
        }
      }
    }
  }
}


.no-padding {
  padding: 0 !important;
}