.page-overview {
  .nav.categories {

    li{
      a{
        border-top: 0.4em solid;
        border-left: 0.1em solid;
        border-right: 0.1em solid;
        &.primary {
          border-color: #1b6d85;
        }
        &.warning {
          border-color: $color_warning;
        }
      }

    }

  }

  .panel-calculations {
    a.add-calculation {
      width:100%;
      display:block;
      font-size:2em;
      padding: 0.2em;
      margin-top: 1em;
      margin-bottom: 1em;
      border-color: $color_success;
      border: 0.2em solid;

      text-align:center;

      &:hover {
        color: inherit;
        background-color: $color_success;
        text-decoration: none;
      }
    }

    .calculations-table {
      font-size: 1.0em;

      .calculations {
        .calculation {

          &:hover{
            font-weight: bold;
            cursor: pointer;

            >td:nth-child(1){
              position: relative;

              >.calculation-title{
                position: absolute;
                left: 1em;
                transition: left linear 0.2s;
              }
            }

          }

          >td:nth-child(1) {
            border-left: solid;
          }

          &.closed {
            >td {
              border-left-color: $color_success;
              background-color: lighten($color_success, 40%);
            }
          }

          &.opened {
            >td {
              border-left-color: $color_warning;
              background-color: lighten($color_warning, 40%);
            }
          }

          &.should-accept {
            >td {
              border-left-color: $color_error;
              background-color: lighten($color_error, 10%);
            }
          }

          .accepted-by {
            background-color: lighten($color_success, 50%);
            padding-left: 0.5em;
            padding-right: 0.5em;

            margin-right: 0.2em;
            border: 0.1em solid darken($color_success, 20%);
            @include vendor-prefix (border-top-left-radius, 0.5em);
            @include vendor-prefix (border-bottom-left-radius, 0.5em);
            @include vendor-prefix (border-top-right-radius, 0.5em);
            @include vendor-prefix (border-bottom-right-radius, 0.5em);

          }

          .delete {
            font-size: 1.5em;
            float: right;
            box-sizing: border-box;
            border: 1px solid transparent;

            &:hover {
              border-bottom: 1px solid $color_error;
            }
          }
        }
      }
    }
  }


}