/**
 * (C) 2015 Richard Vogel
 * E-Mail: webdes87@gmail.com
 *
 * Created 2015-11-23
 * This file belongs to the backswing meteor package
 *
 * Show calculation styles
 **/

.page-calculation {

  &.closed {

  }
  .opened-indicator {
    cursor: pointer;
    font-weight: bold;
    margin-right: 1em;
    font-size: 1.2em;
  }

  .close-calculation {
    float: right;
  }
  .accepted-by-container {
    height: 6.4em;

    .user {
      display: inline-block;
      float: left;
      margin-right: 2em;
      text-align: center;
      width: 10em;

      .acceptance-indicator {
        font-size: 3em;

        &:not(.checked) {
          color: $color_error;

        }

        &.checked {
          color: $color_success;
        }
      }


    }
  }

  .calculation-category {

    &.inactive {
      >.panel-heading {
        background-color: orangered;
      }

      button, input, textarea {
        cursor: not-allowed;
        background-color: lightgrey;
      }

      input, button, textarea, .btn {
        pointer-events: none;
      }
    }

    .calculation-items {

      &.closed {
        display: none;
      }

      > ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li.calculation-item {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-bottom: 1em;

          &:nth-of-type(2n) {
            background-color: #f8f8f8;
          }

          &:hover {
            //background-color: $color_highlight;

          }

          .comment {
            label {
              font-size: 1em;
              color: black;

              padding-left: 0;
              font-weight: bold;
            }

            textarea.comment {
              width: 100%;
            }
          }


          .col.title {
            &:hover {
              .edit-symbol {
                display: inline-block;
                float: left;
              }

              input.title {
                background-color: #EEEEEE;
                padding-left: 0.1em;
                padding-right: 0.1em;
              }
            }
            .edit-symbol {
              display: none;
              font-size: 1.5em;
              margin-right: 0.5em;
            }

            >.form-group {
              display:inline-block;
              width: 95%;
            }
            input.title {
              border: none;
              font-weight: bold;
              font-size: 1.5em;
              line-height: 1.5em;
              padding: 0;
              margin: 0;
              box-shadow: none;
              height: auto;
              width: 95%;

              background: transparent;

              :focus {
                background-color: darken ($color_highlight, 20);
              }

              &:focus {
                outline: none;
              }

              .form-group {
                padding: 0;
                margin: 0;
              }
            }
          }

          .btn.delete {
            float: right;
            margin-bottom: 1em;
          }
        }

      }

      .add-item {
        margin-top: 1em;
      }

    }
  }

}