/**
 * (C) 2015 Richard Vogel
 * E-Mail: webdes87@gmail.com
 *
 * Created 2015-11-23
 * This file belongs to the backswing meteor package
 *
 * Some global variables
 **/

$color_warning: #e8e335;
$color_success: #3c9a5f;
$color_error: #ff8986;

$color_highlight: #d6e4ff;