/**
 * (C) 2015 Richard Vogel
 * E-Mail: webdes87@gmail.com
 *
 * Created 2015-11-23
 * This file belongs to the backswing meteor package
 *
 * Imports other scss files
 **/
/**
 * (C) 2015 Richard Vogel
 * E-Mail: webdes87@gmail.com
 *
 * Created 2015-11-23
 * This file belongs to the backswing meteor package
 *
 * Some global variables
 **/
/**
 * (C) 2015 Richard Vogel
 * E-Mail: webdes87@gmail.com
 *
 * Created 2015-11-23
 * This file belongs to the backswing meteor package
 *
 * Some system-wide styles
 **/
body {
  position: relative; }

.text-error {
  color: #ff8986; }

.text-warning {
  color: #e8e335; }

.text-success {
  color: #3c9a5f; }

header.main-nav > .container {
  padding-right: 0;
  padding-left: 0; }
header.main-nav .navbar {
  margin-bottom: 0 !important;
  padding-left: 0; }

.footer-container {
  padding-top: 1em;
  margin-top: 2em;
  border-top: 1px solid #c8c8c8; }

.page .background-content {
  background-image: url("/img/Restaurant_small.png");
  background-size: cover;
  font-size: 1.5em;
  color: white;
  padding-bottom: 2em;
  margin-bottom: 2em;
  overflow: hidden;
  text-shadow: 2px 3px 3px black; }
  .page .background-content .animated {
    -webkit-animation-duration: 2s !important;
    -ms-animation-duration: 2s !important;
    -moz-animation-duration: 2s !important;
    -o-animation-duration: 2s !important;
    animation-duration: 2s !important;
    -webkit-animation-delay: 0s !important;
    -ms-animation-delay: 0s !important;
    -moz-animation-delay: 0s !important;
    -o-animation-delay: 0s !important;
    animation-delay: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
    -ms-animation-iteration-count: 1 !important;
    -moz-animation-iteration-count: 1 !important;
    -o-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-animation-timing: ease-out !important;
    -ms-animation-timing: ease-out !important;
    -moz-animation-timing: ease-out !important;
    -o-animation-timing: ease-out !important;
    animation-timing: ease-out !important; }
  .page .background-content h1 {
    font-size: 2.5em;
    margin-bottom: 1.0em; }

.to-top-container {
  pointer-events: none;
  position: fixed;
  right: 2em;
  bottom: 2em;
  text-shadow: 1px 1px 1px black;
  opacity: 0;
  transition: opacity linear 1.5s;
  z-index: 2; }
  .to-top-container.visible {
    pointer-events: auto;
    opacity: 1.0;
    transition: opacity linear 1.5s; }
  .to-top-container .fa {
    font-size: 3em; }

.loglist-container .loglist {
  list-style: none;
  margin: 0;
  padding: 0; }
  .loglist-container .loglist .log-entry {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #EEEEEE; }
    .loglist-container .loglist .log-entry:nth-of-type(2n) {
      background-color: #8c8c8c; }
    .loglist-container .loglist .log-entry > span {
      display: block; }
      .loglist-container .loglist .log-entry > span.user {
        background-color: #008cba;
        color: white; }
      .loglist-container .loglist .log-entry > span.date {
        background-color: #008cba;
        color: white; }

.no-padding {
  padding: 0 !important; }

.page-overview .nav.categories li a {
  border-top: 0.4em solid;
  border-left: 0.1em solid;
  border-right: 0.1em solid; }
  .page-overview .nav.categories li a.primary {
    border-color: #1b6d85; }
  .page-overview .nav.categories li a.warning {
    border-color: #e8e335; }
.page-overview .panel-calculations a.add-calculation {
  width: 100%;
  display: block;
  font-size: 2em;
  padding: 0.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: #3c9a5f;
  border: 0.2em solid;
  text-align: center; }
  .page-overview .panel-calculations a.add-calculation:hover {
    color: inherit;
    background-color: #3c9a5f;
    text-decoration: none; }
.page-overview .panel-calculations .calculations-table {
  font-size: 1.0em; }
  .page-overview .panel-calculations .calculations-table .calculations .calculation:hover {
    font-weight: bold;
    cursor: pointer; }
    .page-overview .panel-calculations .calculations-table .calculations .calculation:hover > td:nth-child(1) {
      position: relative; }
      .page-overview .panel-calculations .calculations-table .calculations .calculation:hover > td:nth-child(1) > .calculation-title {
        position: absolute;
        left: 1em;
        transition: left linear 0.2s; }
  .page-overview .panel-calculations .calculations-table .calculations .calculation > td:nth-child(1) {
    border-left: solid; }
  .page-overview .panel-calculations .calculations-table .calculations .calculation.closed > td {
    border-left-color: #3c9a5f;
    background-color: #bde5cc; }
  .page-overview .panel-calculations .calculations-table .calculations .calculation.opened > td {
    border-left-color: #e8e335;
    background-color: #fdfcec; }
  .page-overview .panel-calculations .calculations-table .calculations .calculation.should-accept > td {
    border-left-color: #ff8986;
    background-color: #ffbbb9; }
  .page-overview .panel-calculations .calculations-table .calculations .calculation .accepted-by {
    background-color: #e1f4e8;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.2em;
    border: 0.1em solid #1f5132;
    -webkit-border-top-left-radius: 0.5em;
    -ms-border-top-left-radius: 0.5em;
    -moz-border-top-left-radius: 0.5em;
    -o-border-top-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -ms-border-bottom-left-radius: 0.5em;
    -moz-border-bottom-left-radius: 0.5em;
    -o-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -ms-border-top-right-radius: 0.5em;
    -moz-border-top-right-radius: 0.5em;
    -o-border-top-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -ms-border-bottom-right-radius: 0.5em;
    -moz-border-bottom-right-radius: 0.5em;
    -o-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em; }
  .page-overview .panel-calculations .calculations-table .calculations .calculation .delete {
    font-size: 1.5em;
    float: right;
    box-sizing: border-box;
    border: 1px solid transparent; }
    .page-overview .panel-calculations .calculations-table .calculations .calculation .delete:hover {
      border-bottom: 1px solid #ff8986; }

.page.create-calculation h1 {
  margin: 1em 0;
  padding: 0; }

/**
 * (C) 2015 Richard Vogel
 * E-Mail: webdes87@gmail.com
 *
 * Created 2015-11-23
 * This file belongs to the backswing meteor package
 *
 * Show calculation styles
 **/
.page-calculation .opened-indicator {
  cursor: pointer;
  font-weight: bold;
  margin-right: 1em;
  font-size: 1.2em; }
.page-calculation .close-calculation {
  float: right; }
.page-calculation .accepted-by-container {
  height: 6.4em; }
  .page-calculation .accepted-by-container .user {
    display: inline-block;
    float: left;
    margin-right: 2em;
    text-align: center;
    width: 10em; }
    .page-calculation .accepted-by-container .user .acceptance-indicator {
      font-size: 3em; }
      .page-calculation .accepted-by-container .user .acceptance-indicator:not(.checked) {
        color: #ff8986; }
      .page-calculation .accepted-by-container .user .acceptance-indicator.checked {
        color: #3c9a5f; }
.page-calculation .calculation-category.inactive > .panel-heading {
  background-color: orangered; }
.page-calculation .calculation-category.inactive button, .page-calculation .calculation-category.inactive input, .page-calculation .calculation-category.inactive textarea {
  cursor: not-allowed;
  background-color: lightgrey; }
.page-calculation .calculation-category.inactive input, .page-calculation .calculation-category.inactive button, .page-calculation .calculation-category.inactive textarea, .page-calculation .calculation-category.inactive .btn {
  pointer-events: none; }
.page-calculation .calculation-category .calculation-items.closed {
  display: none; }
.page-calculation .calculation-category .calculation-items > ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .page-calculation .calculation-category .calculation-items > ul li.calculation-item {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item:nth-of-type(2n) {
      background-color: #f8f8f8; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item .comment label {
      font-size: 1em;
      color: black;
      padding-left: 0;
      font-weight: bold; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item .comment textarea.comment {
      width: 100%; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item .col.title:hover .edit-symbol {
      display: inline-block;
      float: left; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item .col.title:hover input.title {
      background-color: #EEEEEE;
      padding-left: 0.1em;
      padding-right: 0.1em; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item .col.title .edit-symbol {
      display: none;
      font-size: 1.5em;
      margin-right: 0.5em; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item .col.title > .form-group {
      display: inline-block;
      width: 95%; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item .col.title input.title {
      border: none;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1.5em;
      padding: 0;
      margin: 0;
      box-shadow: none;
      height: auto;
      width: 95%;
      background: transparent; }
      .page-calculation .calculation-category .calculation-items > ul li.calculation-item .col.title input.title :focus {
        background-color: darken #d6e4ff, 20; }
      .page-calculation .calculation-category .calculation-items > ul li.calculation-item .col.title input.title:focus {
        outline: none; }
      .page-calculation .calculation-category .calculation-items > ul li.calculation-item .col.title input.title .form-group {
        padding: 0;
        margin: 0; }
    .page-calculation .calculation-category .calculation-items > ul li.calculation-item .btn.delete {
      float: right;
      margin-bottom: 1em; }
.page-calculation .calculation-category .calculation-items .add-item {
  margin-top: 1em; }

/*# sourceMappingURL=main.css.map */
