<template name="create_calculation">
    {{setTitle (translate 'title_create_calculation')}}

    <div class="container page create-calculation">
        <div class="row">
            <div class="background-content">

                <div class="container animated slideInRight">
                    <h1><i class="fa fa-cutlery"></i>&nbsp;&nbsp;{{translate 'title_create_calculation'}}</h1>

                    <p>
                        In dieser Ansicht können Sie eine neue Kalkulation erstellen. <br/>
                        Wählen Sie hierzu einen Namen und die beteiligten Personen. <br/>
                        Beachten Sie, dass eine Kalkulation nur geschlossen werden kann, wenn alle beteiligten Personen
                        die
                        Kalkulation bestätigt haben.
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content-holder">
                    <h1>Kalkulation für <i>{{getNameOfCategory}}</i> erstellen</h1>
                    <form class="form-horizontal create">
                        <div class="form-group">
                            <label for="calculationName">{{translate 'calculation_name'}}</label>
                            <input type="text"
                                   class="form-control"
                                   name="calculationName"
                                   required="required"
                                   id="calculationName"
                                   placeholder="{{translate 'common_name'}}">
                        </div>
                        <div class="form-group">
                            <label for="calculationResponsibles">{{translate 'calculation_responsibles'}}</label>
                            <select class="form-control" id="calculationResponsibles" multiple="multiple" name="calculationResponsibles" required="required">
                                {{#each users}}
                                    <option value="{{getIdForUser this}}">{{getNameForUser this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary pull-right" value="{{translate 'calculation_create'}}">
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>