<template name="home">
    {{setTitle (translate 'title_home')}}

    <div class="container page page-home">
        <div class="row">
            <div class="background-content">

                <div class="container animated slideInRight">
                    <h1><i class="fa fa-cutlery"></i>&nbsp;&nbsp;{{translate 'title_home'}}</h1>
                    <p>
                        Diese Software dient zur schnellen und komfortablen Übersicht und Verwaltung von Kosten zur Angebotsplanung.
                        Bitte melden Sie sich an, um die Funktionalität der Seite nutzen zu können. Verwenden Sie dazu das Menü am oberen Seitenrand. <br /><br />
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content-holder">
                    <p>
                        Bei Fragen kontaktieren Sie mich bitte unter: <br />
                    <ul>
                        <li>Telefon: <a href="tel:+4915111696161">+49215111696161</a></li>
                        <li>Mail: <a href="mailto:webdes87@gmail.com">webdes87@gmail.com</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</template>