<template name="overview" xmlns="http://www.w3.org/1999/html">
    {{setTitle (translate 'title_overview')}}

    <div class="container page page-overview">
        <div class="row">
            <div class="background-content">

                <div class="container animated slideInRight">
                    <h1><i class="fa fa-cutlery"></i>&nbsp;&nbsp;{{translate 'title_overview'}}</h1>

                    <p>
                        Hier befindet sich eine Auflistung der einzelnen Geschäftsbereiche.<br />
                        - <span class="text-error">Rot</span> markierte Einträge müssen selbst akzeptiert werden,<br />
                        - <span class="text-warning">Gelb</span> markierte Einträge müssen von anderen akzeptiert werden (oder sind nicht geschlossen),<br />
                        - <span class="text-success">Grün</span> markierte Einträge sind bereits geschlossen  <br/>
                    </p>
                </div>
            </div>
        </div>
        <div class="row categories">
            <ul class="nav nav-tabs categories" role="tablist">
                {{#each categories}}
                    <li role="presentation" class="">
                        <a
                                href="#tab{{getTranslatedLabelForTargetCategory this}}"
                                id="tab{{getLabelForTargetCategory this}}"
                                aria-controls="home"
                                role="tab"
                                data-toggle="tab"
                                class="tab {{#if hasOpenCalculations this}}warning{{else}}primary{{/if}}"
                        >
                            {{getTranslatedLabelForTargetCategory this}}<br />
                            (<strong>{{getCalculationsCountForCategory this}}</strong> {{translate 'common_together'}} -
                            <strong>{{getOpenCalculationCountForCategory this}}</strong> {{translate 'common_opened'}})
                        </a>
                    </li>
                {{/each}}
            </ul>

            <div class="tab-content">
                {{#each categories}}
                    <div role="tabpanel" class="tab-pane panel" id="tab{{getTranslatedLabelForTargetCategory this}}">
                        <div class="panel-calculations">
                            <a class="add-calculation text-success" href="/calculation/add/{{getIdForEntity this}}" title="{{translate "common_add_calculation"}}">
                                <span><i class="fa fa-plus-circle"></i> {{translate "common_add_calculation"}}</span>
                            </a>
                            <table class="table table-striped table-hover calculations-table">
                            <thead>
                                <tr>
                                    <td>
                                        <strong>{{translate 'common_name'}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{translate 'common_last_change'}}</strong>
                                    </td>
                                    <td><strong>{{translate 'overview_confirmed_by'}}</strong></td>
                                    <td>
                                        <strong>{{translate 'common_actions'}}</strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="calculations">
                            {{#each getCalculationsByTargetCategory this}}
                                <tr aria-role="link" aria-title="Kalkulation bearbeiten" class="calculation {{#if shouldAcceptCalculation this}}should-accept{{/if}} {{#if calculationIsClosed this}}closed{{else}}opened{{/if}}">
                                    <td><span class="calculation-title">{{getTitleForCalculation this}}</span></td>
                                    <td>{{getLastModifiedForCalculation this}}</td>
                                    <td>
                                        {{#each getAccpetorsForCalculation this}}
                                            <span class="accepted-by">
                                                {{this}}
                                            </span>
                                        {{/each}}
                                    </td>
                                    <td>
                                        <a data-calculation-id="{{getIdForEntity this}}" title="{{translate 'common_delete'}}" href="#" class="delete">
                                            <strong>
                                                <span class="text-danger fa fa-trash"></span>
                                            </strong>
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                                {{#if noCalculationsForTargetCategory this}}
                                    <strong>{{translate 'overview_no_calculations_for_category'}}</strong>
                                {{/if}}
                        </table>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</template>