<template name="calculation">
    {{setTitle (translate 'title_show_calculation')}}
    <div class="container page page-calculation {{#if isCalculationClosed getCurrentCalculation}}closed{{/if}}">
        <div class="row">
            <div class="background-content">
                <div class="container animated slideInRight">
                    <h1><i class="fa fa-cutlery"></i>&nbsp;&nbsp;{{translate 'title_show_calculation'}}</h1>
                    <p>
                        Hier kann die Kalkulation bearbeitet werden. <br />
                        Dazu gehört: <br />
                        <ul>
                            <li>
                                Anlegen und Bearbeiten von Kostenstellen
                            </li>
                            <li>
                                Bestätigen der Kalkulation
                            </li>
                            <li>
                                Schließen der Kalkulation
                            </li>
                        </ul>
                    </p>
                    Nur Administatoren können alle diese Aktion durchführen.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="content-holder calculation-top">
                    <h1>Kalkulation <i>{{getCalculationTitle}}</i>
                        {{#if isCalculationClosed}}
                           <strong class="text-danger"> &nbsp; <i class="fa fa-warning"></i> {{translate 'common_closed'}}</strong>
                        {{/if}}
                        {{#if calculationCanBeClosed}}
                            {{#unless isCalculationClosed}}
                            <button class="btn btn-danger close-calculation">
                                <i class="fa fa-warning"></i> {{translate 'calculation_close'}}
                            </button>
                            {{/unless}}
                        {{/if}}
                        <br />
                        <small> {{translate 'common_created_at'}}: {{getCalculationCreatedDate}}</small><br />
                        <small> {{translate 'common_last_change'}}: {{getCalculationLastChange}}</small>
                        {{#if calculationIsAcceptedByOthers}}
                            <br />
                            <small><span class="text-warning">
                                <span class="fa fa-warning"></span> {{translate 'calculation_accepted_by_others'}}
                            </span></small>
                        {{/if}}
                    </h1>
                    <div class="form-group">
                        <label for="calculationComment">{{translate 'common_comment'}}</label>
                        <textarea
                                disabled={{isCalculationClosed getCurrentCalculation}}
                                cols="5"
                                placeholder="{{translate 'common_comment'}}"
                                id="calculationComment"
                                class="calculation-comment form-control">{{getCalculationComment}}</textarea>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="calculation-value-container form-group">
                                <label for="calculationValue">{{translate 'calculation_value'}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon">{{translate 'common_euro_symbol'}}</span>
                                    <input value="{{getCalculationValue}}" class="form-control calculation-value" id="calculationValue" placeholder="0.00" type="number" min="0.0" step="10.0" />
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="calculationValue">{{translate 'calculation_expected_profit'}}</label>
                                <div class="input-group {{#if isCalculationNegative}}has-warning{{else}}has-success{{/if}}">
                                    <span class="input-group-addon">{{translate 'common_euro_symbol'}}</span>
                                    <input class="form-control" type="text" disabled="disabled" value="{{getCalculationProfit}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accepted-by-container">
                        {{#each getNeedsAcceptanceFrom}}
                            <button class="user btn btn-default accept-calculation"
                                    disabled={{isAnotherUserIdThanCurrent this}}
                                >
                                <span
                                    class="acceptance-indicator {{#if userHasAcceptedCalculation}}checked{{/if}}">
                                    {{#if userHasAcceptedCalculation}}
                                    {{then}}
                                        <i class="fa fa-check-circle"></i>
                                    {{else}}
                                        <i class="fa fa-ban"></i>
                                    {{/if}}
                                </span>
                                <br />
                                <span class="user-name">
                                    {{getNameForUserId this}} <br />
                                    {{#if userHasAcceptedCalculation}}
                                    {{then}}
                                        {{translate 'common_accepted'}}
                                    {{else}}
                                        {{translate 'common_not_accepted'}}
                                    {{/if}}
                                </span>
                            </button>
                        {{/each}}
                    </div>
                </div>
                <br />
                <br />
                <!-- List of categories -->
                {{#each getCalculationCategories}}
                    <div class="panel panel-primary calculation-category {{#if userCanEditCalculationCategory this}}active{{else}}inactive{{/if}}">
                        <div class="panel-heading">
                            <i class="fa {{getCategoryOpenedIndicatorCss}} opened-indicator"></i>
                            {{#with getCalculationCategoryLabel}}
                                 <strong>{{translate this}}</strong>
                            {{/with}}
                            - <span class="entries">{{countCalculationCategoryItems}} {{translate 'common_entries'}}</span>
                            - <strong>{{getCalculationCategoryItemsSum}} {{translate 'common_euro_symbol'}}</strong>
                        </div>
                        <div class="panel-body {{#if isCategoryOpened}} opened {{else}} closed {{/if}} calculation-items body-{{getCalculationCategoryType}}">
                            <!--Items-->
                            <ul>
                            {{#each getItemsForCategory}}
                                <li class="calculation-item {{getCalculationItemType}}">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col col-md-12 title">
                                                <span aria-label="Edit symbol" class="edit-symbol"><i class="fa fa-edit"></i></span>
                                                <div class="form-group">
                                                    <input
                                                            disabled="{{isCalculationClosed getCurrentCalculation}}"
                                                            placeholder="{{translate 'common_title' }}"
                                                            id="title-{{_id}}"
                                                            class = "form-control title"
                                                            name = "title"
                                                            type = "text"
                                                            value = "{{getCalculationTitle}}"
                                                            aria-label="{{translate 'common_title'}}"

                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- amount -->
                                            <div class="col col-md-3 amount">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span id="amount-addon-{{_id}}" class="input-group-addon">
                                                            {{#unless isStaffItem this}}
                                                                {{translate 'common_amount'}}
                                                            {{/unless}}
                                                            {{#if isStaffItem this}}
                                                                {{translate 'common_hours'}}
                                                            {{/if}}
                                                        </span>
                                                        <input
                                                                disabled={{isCalculationClosed getCurrentCalculation}}
                                                                min = "0"
                                                                step = "0.5"
                                                                id="amount-{{_id}}"
                                                                class = "form-control amount"
                                                                name = "amount"
                                                                type = "number"
                                                                value = "{{getCalculationItemAmount}}"
                                                                aria-describedby="amount-addon-{{_id}}"
                                                        />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- unit price -->
                                            <div class="col col-md-3 unit-price">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span id="addon-unit-price-{{_id}}" class="input-group-addon">
                                                            {{#unless isStaffItem this}}
                                                                {{translate 'common_unit_price'}}
                                                            {{/unless}}
                                                            {{#if isStaffItem this}}
                                                                {{translate 'common_price_per_hour'}}
                                                            {{/if}}
                                                            ({{translate 'common_euro_symbol'}})
                                                        </span>
                                                        <input
                                                                disabled={{isCalculationClosed getCurrentCalculation}}
                                                                min = "0"
                                                                step = "0.1"
                                                                id="amount-{{_id}}"
                                                                class = "form-control unit-price"
                                                                name = "unit-price"
                                                                type = "number"
                                                                value = "{{getCalculationItemUnitPrice}}"
                                                                aria-describedby="addon-unit-price-{{_id}}"
                                                        />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Sum -->
                                            <div class="col col-md-2 sum">
                                                <span class="input-group">
                                                     <span class="sum">
                                                         <input type="text"
                                                                aria-label="{{translate 'common_sum'}}"
                                                                disabled="disabled"
                                                                class="form-control"
                                                                value="{{calculateItemSum}} {{translate 'common_euro_symbol'}}"
                                                         />

                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!--Comment-->
                                        <div class="row">
                                            <div class="col-md-12 comment">
                                                <div class="form-group">
                                                    <label for="comment-{{_id}}" class="label">
                                                        {{translate 'common_comment'}}
                                                    </label>
                                                    <textarea
                                                            disabled={{isCalculationClosed getCurrentCalculation}}
                                                            id="comment-{{_id}}"
                                                            class = "form-control comment"
                                                            name = "comment"
                                                    >{{getCalculationItemComment}}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button disabled={{isCalculationClosed getCurrentCalculation}} class="delete btn btn-danger">
                                                    <i class="fa fa-trash"></i> {{translate 'common_delete_entry'}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                            </ul>
                            <button disabled={{isCalculationClosed getCurrentCalculation}} class="add-item btn btn-primary pull-right add-item"><i class="fa fa-plus-circle"> &nbsp;{{translate 'calcuation_add_item'}}</i></button>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="col col-md-2">
               <h2>{{translate 'log_entries'}}</h2>
                {{#with getLogEntries }}
                    {{> loglist}}
                {{/with}}
            </div>
        </div>
    </div>
</template>