<template name="statistics">
    {{setTitle (translate 'title_statistics')}}
    <form name="" id="filterForm">
        <div class="container page page-statistics">
            <div class="row">
                <div class="background-content">

                    <div class="container animated slideInRight">
                        <h1><i class="fa fa-pie-chart"></i>&nbsp;&nbsp;{{translate 'title_statistics'}}</h1>
                        <p>
                            Hier können einige Statistiken über Kalkulationen ermittelt werden.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid no-padding">
                <div class="col col-md-7">
                    <div class="row">
                        <div class="col col-md-12 no-padding">
                            <h3>{{translate 'common_period'}}</h3>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group input-daterange">
                                        <input type="text" id="dateFrom" class="form-control">
                                        <span class="input-group-addon"> {{translate 'common_until'}} </span>
                                        <input type="text" id="dateTo" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-12 no-padding">
                            <h3>{{translate 'statistics_status_of_calculation'}}</h3>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="calculationState" value="closed" >
                                            {{translate 'statistics_only_show_closed_calcuations'}}
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="calculationState" value="opened" >
                                            {{translate 'statistics_only_show_opened_calcuations'}}
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="calculationState" value="all" checked="checked">
                                            {{translate 'statistics_show_opened_and_closed_calculations'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <h3>{{translate 'common_calculation_targets'}}</h3>
                            <div class="form-inline">
                                <div class="form-group">
                                    {{#each getTargetCategories}}
                                        {{#with this}}
                                            <div class="checkbox-inline">
                                                <label>
                                                    <input type="checkbox" class="checkbox-inline target-categories" name="targetCats[]" checked="checked" value="{{getType}}">
                                                    {{translateLabel}}
                                                </label>
                                            </div>
                                        {{/with}}
                                    {{/each}}
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <div class="form-group">
                                <br />
                                <input type="submit" class="form-control btn-primary btn" id="statisticsCreate" value="{{translate 'statistics_create'}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 no-padding">
                    <div class="statistics-overall">
                        <h3>{{translate 'common_results'}}</h3>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        {{translate 'statistics_amount_of_calcs'}}
                                    </td>
                                    <td>
                                        {{getFilterCalcCount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{translate 'statistics_sum_of_calc_values'}}
                                    </td>
                                    <td>
                                        {{translate 'common_euro_symbol'}} {{getFilterSumOfCalcValues}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{translate 'statistics_sum_of_calc_items'}}
                                    </td>
                                    <td>
                                        {{translate 'common_euro_symbol'}} {{getFilterSumOfCalcItems}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{translate 'statistics_calc_profit'}}
                                    </td>
                                    <td>
                                        {{translate 'common_euro_symbol'}} {{getFilterCalculationProfit}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>{{translate 'statistics_expenses_by_categories'}}</strong>
                                    </td>
                                </tr>
                                {{#each getCostsByTarget}}
                                    {{#with this}}
                                    <tr>
                                        <td>
                                            {{label}}
                                        </td>
                                        <td>
                                            {{translate 'common_euro_symbol'}}  {{toFixed value}}
                                        </td>
                                    </tr>

                                    {{/with}}
                                {{/each}}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

    </form>
</template>