<!--
/**
* (C) 2015 Richard Vogel
* E-Mail: webdes87@gmail.com
*
* Created 2015-11-23
* This file belongs to the backswing meteor package
*
* Main Layout
**/
-->
<head>
</head>

<template name="MainLayout">
    <body class="main-body">
        <div class="to-top-container">
            <a id="toTop" class="nach-oben" name="to-top" href="#" title="{{translate 'common_to_top'}}"><i class="fa fa-arrow-circle-up"></i></a>
        </div>
        <header class="main-nav">
            {{> yield "header"}}
        </header>

        <a name="toTop"></a>
        <article>
            {{> yield}}
        </article>

        <footer>
            {{> yield "footer"}}
        </footer>
    </body>
</template>

<template name="mainHeader">
    {{> notifications}}
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><i class="fa fa-cutlery"></i> {{translate 'appName'}}</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a title="{{translate 'header_home'}}" href="/"><i class="fa fa-home"></i> {{translate 'header_home'}}</a></li>
                        <li class=""><a title="{{translate 'header_overview'}}" href="/overview"><i class="fa fa-list"></i> {{translate 'header_overview'}}</a></li>
                        <li class=""><a title="{{translate 'header_statistics'}}" href="/statistics"><i class="fa fa-pie-chart"></i> {{translate 'header_statistics'}}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{> loginButtons}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="mainFooter">
    <div class="container footer-container">
        <div class="row">
            <div class="col col-md-12">
                &copy; {{translate 'appName'}} 2015 Richard Vogel <a href="http://rivoweb.de/" title="rivoWEB">rivoWEB</a> all rights reserved
            </div>
        </div>
    </div>
</template>